@font-face {
  font-family: "iconfont"; /* Project id 4510329 */
  src: url('iconfont.eot?t=1714380255202'); /* IE9 */
  src: url('iconfont.eot?t=1714380255202#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1714380255202') format('woff2'),
       url('iconfont.woff?t=1714380255202') format('woff'),
       url('iconfont.ttf?t=1714380255202') format('truetype'),
       url('iconfont.svg?t=1714380255202#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e621";
}

.icon-mind-full:before {
  content: "\e850";
}

.icon-knowledge-full:before {
  content: "\e89d";
}

.icon-caidan:before {
  content: "\e652";
}

.icon-shangyiye:before {
  content: "\e67c";
}

.icon-xiayiye:before {
  content: "\e68b";
}

.icon-ziliaoku:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\e678";
}

.icon-jiqiren_o:before {
  content: "\eb62";
}

.icon-icon-damoxing:before {
  content: "\e613";
}

