<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./static/font_4510329_noi7xjfgj9/iconfont.css">
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/ajaxresult.css') }}">
        <script src="https://cdn.staticfile.net/jquery/3.7.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <title>查询结果-{{ search_query }}</title>
    </head>
    
    <body class="bod2">
        <div class="search-results">
            <span class="search-answer">
                Loading...
            </span>
            
            <span class="search-docs">
                <p>Loading...<p>
            </span>
            
            <span class="search-process">
                <p>Loading...<p>
            </span>
        </div>
        
	</body>
    
</html>