<div class="searchsourceicon-respage" style="text-align:center;">
    <i class="iconfont" style="font-size: 20px;color:#ffffff;">
        &#xe89d;
    </i>
</div>

<div class="llmgeneratoricon-respage" style="text-align:center;">
    <i class="iconfont" style="font-size: 24px;color:#ffffff;">
        &#xeb62;
    </i>
</div>

<div class="modeicon-respage" style="text-align:center;">
    <i class="iconfont" style="font-size: 18px;color:#ffffff;">
        &#xe652;
    </i>
</div>

<div class="sys-configs-respage">
    <select class="searchsource-respage" name="menu4searchsource" id="menu4setting1" form="box4search-respage">
        <option value="local_hotpotqa" disabled>wikipedia-HotpotQA</option>
        <option value="local_2wikimultihopqa">wikipedia-2WikiMQA</option>
        <option value="local_musique">wikipedia-MuSiQue</option>
        <option value="web_google" selected>Google</option>
        <option value="web_bing">Bing</option>
    </select>

    <select class="llmgenerator-respage" name="menu4llmgenerator" id="menu4setting2" form="box4search-respage">
        <option value="gpt-3.5-turbo-instruct" selected>gpt-3.5-turbo-instruct</option>
    </select>

    <select class="mode-respage" name="menu4mode" id="menu4setting3" form="box4search-respage">
        <option value="ircot" selected>IRCoT</option>
        <option value="scircot">Sc-IRCoT</option>
        <option value="ragot">RAGoT</option>
    </select>
</div>

<select class="queryid" name="id4query" id="id4verify1" form="box4search-respage">
    <option value="{{ temp_id }}" selected>temp_id</option>
</select>

<form class="example" id="box4search-respage" action="{{ url_for('search') }}" method="get">
    <div class="search-box">
        <input class="search-text" name="inputs" value="{{ search_query }}">
  <button type="submit" class="search-btn" id="btn">
        	<i class="iconfont" style="font-size: 25px">&#xeb62;</i>
        </button>
    </div>
</form>